* {
  box-sizing:border-box;
}
body {
  font-family:Helvetica, Arial, sans-serif;
}
a {
  color:white;
  text-decoration:none;
}
p, figcaption {
  font-family:"Times New Roman", Times, serif;
}
li {
  list-style:none;
}
h1 {
  font-size:2rem;
  text-align:center;
  margin:3rem 0 1rem;
  color:rgb(132,104,179);
}
 header li {
  float:left;
  background-color:rgb(132,104,179);
  width:14.286%;
  border-right:2px solid rgb(105,77,152);
  text-align:center;
  padding:.5rem;
}
header li:last-child {
  border-right:none;
}
aside {
  float:left;
  background-color:rgb(193,177,213);
  width:20%;
  height:600px;
  padding-top:4rem;
}
aside li {
  padding:1rem 0;
  text-align:center;
}
aside img {
  max-width:100%;
  margin:1rem 0 2rem;
}
aside h3 {
  text-align:center;
  border-bottom:1px solid black;
  margin-bottom:.5rem;
  padding-bottom:.2rem;
}
#candyCorn aside, #wonka aside {
  padding:4rem 1rem;
}
.contentBox {
  width:80%;
  float:right;
  background-color:rgb(225,228,233);
  padding:4rem 8rem;
  height:600px;
}
#wonka .contentBox {
  padding-top:8rem;
}
figure {
  text-align:center;
}
figure img {
  max-width:75%;
}
figcaption {
  padding-top:2rem;
  clear:both;
}
#wonka figure img {
  float:left;
  margin-right:2rem;
  max-width:40%;
}
footer {
  clear:both;
  text-align:center;
  padding:2rem 0;
}
footer li {
  display:inline;
  margin:0 1rem;
}
footer img {
  width:3%;
}
